Đề bài:
=======

Sử dụng Singleton pattern để code lại GlobalClass sao cho tại mọi nơi trong chương trình chỉ có thể truy cập vào một instance
duy nhất của class này.

Hướng dẫn:
- Viết thêm hàm static getInstance() vào class GlobalClass
- Sử dụng GlobalClass.getInstance() mỗi khi cần truy cập vào (singleton) object của GlobalClass