Đề bài:
=======

Hãy code lại chương trình sao cho:
 - Việc tạo mới instance của các class Cat, Dog, Duck vẫn sử dụng factory method
 - Đối với các đối tượng của các class thừa kế từ lớp Mammal, sau khi khởi tạo thì phải gán trường greeting bằng giá trị
   trả về của hàm clapHands()

Hướng dẫn:
- Sử dụng Abstract Factory design patterns để thiết kế lại lớp AnimalFactory.
- Thêm lớp MammalFactory thừa kế từ lớp
  AnimalFactory và trong hàm createAnimal (sau khi đã bỏ static) cần bổ sung thêm việc gán giá trị greeting bằng
  giá trị trả về của clapHand()